
.home_wrapper{
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.asinList{
    width: 40%;
    min-width: 300px;
    min-height: 300px;
    display: block;
    padding: 50px 10px;
}

.message{
    font-size: 18px;
    color: green;
}

.url{
    width: 100%;
    padding: 3px 3px;
    display: flex;
    justify-content: left;
}

.url a, .url p{
    margin-right: 10px;
}

.investigatingBtn{
    background: #cfc;
    color: green;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.removeBtn{
    background: rgb(255, 178, 178);
    color: red;
    border: 1px solid darkred;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.investigatingListItem{
    display: flex;
    justify-content: left;
    margin: 8px 0px;
}

.investigatingListItem p{
    margin-right: 10px;
}

.comments{
    width: 220px;
    height: 60px;
    resize: none;
    margin-right: 10px;
    padding: 2px;
    font-size: 14px;
}
